body {
  font-family: "Oxygen", sans-serif;
}

a {
  color: #f65282;
  text-decoration: none;
}

h1,
a,
footer {
  font-weight: 700;
}

.weather-app {
  background: url(/images/mermaid2.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 600px;
  margin: 60px auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}

header {
  border-bottom: 1px solid #f9f7fe;
  padding-bottom: 30px;
}

.search-input {
  background-color: #eaf7f6;
  border: none;
  color: rgba(9, 9, 9, 0.4);
  font-size: 16px;
  padding: 20px;
  width: 75%;
  border-radius: 6px;
}

.search-button {
  margin-left: 5px;
  font-size: 16px;
  background-color: #36b7be;
  color: white;
  border: none;
  padding: 20px 30px;
  line-height: 1;
  border-radius: 20px;
}

main {
  padding: 30px 0;
}

.current-weather {
  display: flex;
  justify-content: space-between;
}

.current-city {
  font-size: 38px;
  font-weight: 900;
  margin: 0;
}

.current-details {
  color: rgba (39, 33, 66, 0.4);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.current-details strong {
  color: #f65282;
}

.temperature-container {
  display: flex;
}

.weather-app-icon {
  width: 120px;
  height: 120px;
  margin-top: -10px;
  margin-right: -5px;
}

.current-temperature {
  font-size: 88px;
  margin-left: 10px;
  line-height: 88px;
  font-weight: bold;
}

.current-temperature-unit {
  font-size: 28px;
  margin-top: 6px;
}

.weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.weather-forecast {
  display: flex;
  margin-top: 30px;
  justify-content: space-around;
  margin-bottom: 70px;
  background-color: #eaf7f6;
  padding: 7px 2px;
}

.weather-forecast-day {
  display: block;
}

.weather-forecast-date {
  text-align: center;
  color: #36b7be;
  line-height: 20px;
  margin-bottom: 10px;
  font-size: 14px;
}

.weather-forecast-icon {
  width: 65px;
  height: 65px;
  display: block;
  margin: 0 auto;
}

.weather-forecast-temperature {
  padding: 0 10px;
  margin-top: 10px;
  justify-content: center;
  display: flex;
}

.weather-forecast-temperatures {
  font-size: 13px;
  display: flex;
  text-align: center;
  justify-content: center;
  color: #f65282;
}

footer {
  text-align: center;
  color: rgba (39, 33, 66, 0.4);
  padding-top: 15px;
  font-size: 13px;
}
