body {
  font-family: "Oxygen", sans-serif;
  margin: 0;
}

a {
  color: #f65282;
  text-decoration: none;
}

h1,
a {
  font-weight: 700;
}

.weather-app {
  border-radius: 10px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  margin: 20px auto;
  max-width: 700px;
  padding: 25px 20px 15px;
}

.background {
  background: url(/images/mermaid2.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 20px 30px;
}

header {
  padding-bottom: 10px;
}

.search-input {
  background-color: #eaf7f6;
  border: none;
  font-size: 16px;
  border-radius: 7px;
  width: 95%;
  padding: 14px 24px;
}

.search-button {
  font-size: 16px;
  background-color: #36b7be;
  color: white;
  border: none;
  border-radius: 7px;
  padding: 14px 24px;
  text-align: center;
}

.search-button:hover {
  background-color: #63d7de;
}

main {
  padding-bottom: 20px;
}

.current-weather {
  justify-content: space-between;
  margin: 0 20px;
  padding: 30px 25px 15px;
}

.current-city {
  font-size: 50px;
  font-weight: 900;
  margin: 0;
}

.current-details {
  color: rgba (39, 33, 66, 0.4);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.current-details strong {
  color: #f65282;
}

.temperature-container {
  display: flex;
}

.weather-app-icon {
  width: 120px;
  height: 120px;
  margin-top: -10px;
  margin-right: -5px;
}

.current-temperature {
  font-size: 80px;
  margin-left: 10px;
  line-height: 88px;
  font-weight: bold;
}

.current-temperature-unit {
  font-size: 28px;
  margin-top: 6px;
}

.weather-forecast {
  display: flex;
  margin: 5px 10px 145px;
  justify-content: space-around;
  padding: 14px;
  border-radius: 12px;
  background-color: #fefefe;
}

.weather-forecast-day {
  display: block;
}

.weather-forecast-date {
  display: block;
  text-align: center;
  color: rgba(9, 9, 9, 0.6);
  line-height: 20px;
  margin-bottom: 5px;
  font-size: 17px;
  font-weight: 700;
}

.weather-forecast-icon {
  width: 90px;
  height: 90px;
  display: block;
  margin: 0 auto;
}

.weather-forecast-temperatures {
  font-size: 15px;
  display: flex;
  justify-content: center;
  color: #f65282;
}

.weather-forecast-temperature-max {
  justify-content: center;
  padding-right: 10px;
  margin-top: 10px;
}

.weather-forecast-temperature-min {
  opacity: 0.7;
  margin-top: 10px;
}

footer {
  padding: 10px;
  font-size: 14px;
  text-align: center;
}

.footer-links {
  margin: 0;
}

@media (max-width: 500px) {
  h1 {
    font-size: 70px;
  }

  li {
    font-size: 14px;
  }

  .current-weather {
    margin: 0;
    padding: 25px 0;
  }

  .current-weather .row {
    justify-content: space-evenly;
  }

  .temperature-container {
    padding: 0 30px;
  }

  .btn {
    font-size: 14px;
  }
}
